In [1]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

In [2]:
# Set up SQL server and insert cities table

In [3]:
# Database and connection specifics
username = 'postgres'
password = 'samsam'
host     = 'localhost'
port     = '5432'
db_name  = 'cities_db'

In [4]:
# Create an engine, or a connection to a database
engine = create_engine( 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host, port, db_name) )
print(engine.url)

postgresql://postgres:samsam@localhost:5432/cities_db

In [5]:
# Create the database if it doesn't exist already
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

True

In [8]:
# Read .csv into pandas dataframe
cities = pd.read_csv('cities_text_processed_df.csv', index_col = 0 )
cosims_stacked = pd.read_csv('data/cos_sims_stacked.csv', index_col=[0,1], header = None)

/home/sam/anaconda3/envs/insight/lib/python3.7/site-packages/numpy/lib/arraysetops.py:518: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [9]:
# Insert my data tables into SQL database
cities.to_sql('cities_table', engine, if_exists='replace')
cosims_stacked.to_sql('cosims_stacked_table', engine, if_exists='replace')

In [10]:
# Reading from SQL server

In [11]:
# Connect to make queries using psycopg2
con = None
con = psycopg2.connect(database = db_name, user = username, password = password, host = host , port = port)

In [12]:
# query:
sql_query = """
SELECT * FROM cities_table;
"""

In [13]:
cities_df = pd.read_sql_query(sql_query,con, index_col = 'index')
cities_df.head()

,Country,City,Understand,Get in,Get around,See,Do,Buy,Eat,Sleep,...,Lat,Lon,Alt,City_alternative2,Latitude,Longitude,AccentCity,See_tokens,Do_tokens,Pooled_tokens
index,,,,,,,,,,,,,,,,,,,,,
0,Afghanistan,Herat,Herat is the second largest city in Afghanista...,The Herat International Airport is situated 15...,None,"Ghala Ekhteyaradin, Takht Safar, Bagh Milat, ...",Take a shower in the huge subterranean Hammams.,There are several antique shops on the north ...,Herat has a mixture of traditional and modern ...,"Budget[edit] Mowafaq Hotel, northeast corner ...",...,34.340000,62.189999,927.0,None,NaN,NaN,None,"['ghala', 'ekhteyaradin', 'takht', 'safar', 'b...","['shower', 'huge', 'subterranean', 'hammams']","['ghala', 'ekhteyaradin', 'takht', 'safar', 'b..."
1,Afghanistan,Kabul,Kabul is a very historic city of the region th...,By plane[edit] Kabul International Airport (IA...,Maps of Kabul are available from Afghanistan I...,Bagh-e Babur (Gardens of Babur). The gardens ...,Kabul Wall. A pleasant hike with rewarding vi...,The Share-e Naw area has some shops. The Kab...,The once thriving restaurant scene in Kabul ha...,"Kabul is not a cheap place to stay, principall...",...,34.516667,69.183334,1808.0,None,NaN,NaN,None,"['bagh', 'babur', 'garden', 'babur', 'garden',...","['kabul', 'wall', 'pleasant', 'hike', 'rewardi...","['bagh', 'babur', 'garden', 'babur', 'garden',..."
2,Afghanistan,Jalalabad,None,Jalalabad is on the major highway that links K...,None,The large reservoir near Sarobi. This is loca...,Go fishing along the river side. Go swimming .,Handi Craft Handicraft is one of most famous ...,Pakora go for special “Pakora” Food in Hindu ...,The government hotel Spingar is on the easter...,...,34.420000,70.449997,573.0,None,NaN,NaN,None,"['large', 'reservoir', 'sarobi', 'way', 'kabul...","['fishing', 'river', 'swimming']","['large', 'reservoir', 'sarobi', 'way', 'kabul..."
3,Afghanistan,Kandahar,Kandahār or Qandahār (Pashto: کندهار ) (Persia...,By plane[edit] Kandahar International Airport ...,None,"Kandahar Museum, (Western end of the Eidgah ...",None,"Afghanistan International Bank (AIB), Kabul Ba...","There are plenty of food choices in Kandahar, ...","Budget[edit] Armani Hotel, (Two miles from c...",...,31.610000,65.699997,1015.0,None,NaN,NaN,None,"['kandahar', 'museum', 'western', 'eidgah', 'd...",[],"['kandahar', 'museum', 'western', 'eidgah', 'd..."
4,Afghanistan,Kunduz,None,Most visitors will arrive by road from Pol-e K...,"The city is fairly small. The local roads, li...",There's not much for tourists here.,None,None,The usual Afghan fare - kebab or lamb with ric...,None,...,36.720000,68.860001,394.0,None,NaN,NaN,None,['tourist'],[],['tourist']

In [33]:
# query:
sql_query = """
SELECT * FROM cosims_stacked_table;
"""

In [34]:
cosims_stacked_df = pd.read_sql_query(sql_query,con, index_col = ['0','1'])
cosims_df = cosims_stacked_df.unstack()

In [35]:
cosims_df.head()

          2                                                              \
1      0         1         2         3         4         5         6
0
0  1.000000  0.080996  0.000000  0.000000  0.024240  0.473130  0.055122
1  0.080996  0.999902  0.000000  0.000000  0.064219  0.390405  0.221132
2  0.000000  0.000000  0.999991  0.434314  0.030202  0.000000  0.000000
3  0.000000  0.000000  0.434314  1.000000  0.033477  0.000000  0.020686
4  0.024240  0.064219  0.030202  0.033477  1.000000  0.039775  0.119452

                                   ...                                   \
1      7         8         9       ...         2661      2662      2663
0                                  ...
0  0.130314  0.832543  0.079470    ...     0.000000  0.000000  0.820253
1  0.036891  0.071200  0.170937    ...     0.316421  0.000000  0.069368
2  0.000000  0.086119  0.000000    ...     0.023904  0.577136  0.000000
3  0.614040  0.112608  0.363111    ...     0.317452  0.752464  0.000000
4  0.043627  0.848842  0.048851    ...     0.061846  0.022027  0.034112


1      2664      2665      2666      2667      2668      2669      2670
0
0  0.000000  0.144423  0.003758  0.000000  0.000000  0.000000  0.000000
1  0.556859  0.382086  0.719974  0.142756  0.026683  0.341216  0.398042
2  0.000000  0.180796  0.000000  0.000000  0.000000  0.000000  0.000000
3  0.000000  0.200392  0.000000  0.000000  0.000000  0.000000  0.000000
4  0.034833  0.236117  0.061971  0.026587  0.045048  0.040078  0.063374

[5 rows x 2671 columns]