In [1]:
import pandas as pd

In [2]:
cities = pd.read_csv('cities_text_processed_df.csv', index_col = 0 )
cosims_df = pd.read_csv('data/cos_sims.csv', index_col = 0)

In [16]:
# Take user input and output 10 city recommendations
input_city = 'New York City'
input_index = cities.index[cities['City']==input_city][0] # Get index of input
input_sims = pd.DataFrame(cosims_df.loc[input_index]) # Get sims for input city
sims_sorted = input_sims.sort_values(by=input_index, ascending=False) # Sort sims
sims_top10 = sims_sorted.iloc[1:11]
top10_index = sims_top10.index
top10_cities = cities.iloc[top10_index][['City','Country','Lat','Lon']]

In [17]:
top10_cities

              City         Country        Lat         Lon
2509       Lubbock   United States  33.577863 -101.855164
2549    Pittsburgh   United States  40.440625  -79.995888
2386          York  United Kingdom  53.966667   -1.083333
1670        Leiden     Netherlands  52.158333    4.493056
2300         Derry  United Kingdom  52.933333   -1.500000
2493   Kansas City   United States  39.099727  -94.578568
1225        Dublin         Ireland  53.333056   -6.248889
2306     Edinburgh  United Kingdom  55.950000   -3.200000
2494     Knoxville   United States  38.254238  -85.759407
2471  Grand Rapids   United States  45.901389 -123.502778