In [1]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pandas as pd
import psycopg2

### Read data from SQL

# Python code to connect to Postgres
# You may need to modify this based on your OS, 
# as detailed in the postgres dev setup materials.
username = 'postgres'
password = 'samsam'
host     = 'localhost'
port     = '5432'
db_name  = 'cities_db'
engine = create_engine( 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host, port, db_name) )

con = None
con = psycopg2.connect(database = db_name, user = username, password = password, 
                       host = host, port = port)

In [2]:
# cities_df = pd.read_csv('cities_text_processed_df.csv', index_col = 0 )
# cosims_df = pd.read_csv('data/cos_sims.csv', index_col = 0)

In [3]:
# Get cities table from SQL server
sql_query = """
SELECT * FROM cities_table;
"""
cities_df = pd.read_sql_query(sql_query,con, index_col = 'index')

# Get cos sims table from SQL server
sql_query = """
SELECT * FROM cosims_stacked_table;
"""
cosims_stacked_df = pd.read_sql_query(sql_query,con, index_col = ['0','1'])
cosims_df = cosims_stacked_df.unstack()

In [26]:
# Take user input and output 10 city recommendations
input_city = 'Beijing'
input_index = cities_df.index[cities_df['City']==input_city][0] # Get index of input
input_sims = pd.DataFrame(cosims_df.iloc[input_index]) # Get sims for input city
sims_sorted = input_sims.sort_values(by=input_index, ascending=False) # Sort sims
sims_top10 = sims_sorted.iloc[1:11]
top10_index = sims_top10.index.get_level_values(1)
top10_cities = cities_df.iloc[top10_index][['City','Country','Lat','Lon']]

In [27]:
top10_cities

              City      Country        Lat         Lon
index
1475      Cheongju  South Korea  36.637222  127.489722
491       Quanzhou        China  23.116667  113.250000
1349          Kure        Japan  33.316667  130.516663
518       Taichung        China  32.493333  119.908058
1299     Fukushima        Japan  37.750000  140.466659
2090   Helsingborg       Sweden  56.046727   12.694369
1417          Tama        Japan  36.683333  137.216659
366         Enping        China  36.616667  101.766670
1965          Tula       Russia  54.204444   37.611111
1389       Okazaki        Japan  34.950000  137.166672