In [1]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

In [2]:
# Set up SQL server and insert tables

In [3]:
# Database and connection specifics
username = 'postgres'
password = 'samsam'
host     = 'localhost'
port     = '5432'
db_name  = 'cities_db'

In [4]:
# Create an engine, or a connection to a database
engine = create_engine( 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host, port, db_name) )
print(engine.url)

postgresql://postgres:samsam@localhost:5432/cities_db

In [5]:
# Create the database if it doesn't exist already
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

True

In [110]:
# Read .csv into pandas dataframe
cities = pd.read_csv('cities_text_processed_df.csv', index_col = 0 )
cosims_stacked = pd.read_csv('data/cos_sims_stacked.csv', index_col=[0,1], header = None)

/home/sam/anaconda3/envs/insight/lib/python3.7/site-packages/numpy/lib/arraysetops.py:518: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [7]:
# Insert my data tables into SQL database
cities.to_sql('cities_table', engine, if_exists='replace')
cosims_stacked.to_sql('cosims_stacked_table', engine, if_exists='replace')

In [8]:
# Reading from SQL server

In [104]:
# Connect to make queries using psycopg2
con = None
con = psycopg2.connect(database = db_name, user = username, password = password, host = host , port = port)

In [105]:
# query:
sql_query = """
SELECT * FROM cities_table;
"""

In [112]:
cities_df = pd.read_sql_query(sql_query,con, index_col = 'index')
cities_df.head()
cities_df.sort_index(inplace=True) #Reorder by index as SQL alters order

In [98]:
cities_df = cities_df.reset_index()
cities_df.drop(['index'], axis=1, inplace=True)

In [64]:
# query:
sql_query = """
SELECT * FROM cosims_stacked_table;
"""

In [65]:
cosims_stacked_df = pd.read_sql_query(sql_query,con, index_col = ['0','1'])
cosims_df = cosims_stacked_df.unstack()

In [66]:
cosims_df.head()

          2                                                                   \
1      0         1         2         3    4         5         6         7
0
0  1.000000  0.136650  0.061046  0.039089  0.0  0.140854  0.109980  0.062989
1  0.136650  1.000000  0.210406  0.045746  0.0  0.058469  0.198897  0.128349
2  0.061046  0.210406  1.000000  0.014769  0.0  0.013766  0.106041  0.034671
3  0.039089  0.045746  0.014769  1.000000  0.0  0.099577  0.023260  0.014620
4  0.000000  0.000000  0.000000  0.000000  1.0  0.000000  0.000000  0.000000

                         ...                                             \
1      8         9       ...         2661 2662      2663      2664 2665
0                        ...
0  0.080440  0.052304    ...     0.050629  0.0  0.111354  0.096099  0.0
1  0.024220  0.050103    ...     0.084255  0.0  0.078292  0.104785  0.0
2  0.000000  0.016563    ...     0.065543  0.0  0.041649  0.041210  0.0
3  0.131221  0.004925    ...     0.009089  0.0  0.047423  0.000000  0.0
4  0.000000  0.000000    ...     0.000000  0.0  0.000000  0.000000  0.0


1      2666      2667      2668      2669      2670
0
0  0.068943  0.004951  0.041846  0.023984  0.054829
1  0.100862  0.040318  0.138211  0.049139  0.110334
2  0.045579  0.010389  0.072070  0.016674  0.028966
3  0.004765  0.017974  0.009985  0.000000  0.001606
4  0.000000  0.000000  0.000000  0.000000  0.000000

[5 rows x 2671 columns]